.idea
.project
Thumbs.db
.DS_Store
/.buildpath

*.tar.gz
*.sh
!gen_image.sh
!gen_image_buildx.sh

webdata/
sqldata/
/log/
/Docker/Dockerfile_split.buildx
JEEDOM_ENCRYPTION_KEY
MYSQL_JEEDOM_PASSWD
MYSQL_ROOT_PASSWD
ROOT_PASSWD
!docker-compose.yml
!docker-compose-no-secrets.yml

env
