.idea
.project
Thumbs.db
.DS_Store
/.buildpath

*.tar.gz
./*.sh
!gen_image.sh
!gen_image_buildx.sh

webdata/
sqldata/
/log/
/Docker/Dockerfile_split.buildx
JEEDOM_ENCRYPTION_KEY
DB_*
ROOT_PASSWD
!compose.yml
!compose-no-secrets.yml

env
