.idea
.project
Thumbs.db
.DS_Store
/.buildpath

*.tar.gz
./*.sh
!gen_image.sh
!gen_image_buildx.sh

webdata/
sqldata/
/log/
/Docker/Dockerfile_split.buildx
JEEDOM_ENCRYPTION_KEY
MARIADB_JEEDOM_PASSWD
MARIADB_ROOT_PASSWD
ROOT_PASSWD
!docker-compose.yml
!docker-compose-no-secrets.yml

env
