name: Docker buildx armhf+amd64 v4 stable

on:
  workflow_dispatch:
    inputs:
      JDM_VERSION:
        description: 'jeedom version'
        required: true
        default: 'latest'
        type: string
#  push:
#    branches:
#      - master
#    paths-ignore:
#      - '.github/**'

jobs:
  build-v4:
    uses: ./.github/workflows/dockerimage-buildx-template.yml
    with:
      image-name: jeedom-rpi
      build-context: './Docker'
      jdm_version: latest
      tag: v4-latest
      version: master
      #12 bookworm stable
      distro: 12-slim
      build-dockerfile: './Docker/Dockerfile'
      push: true
    secrets: inherit
